<ul class="list-group">

    <ng-template #recursiveList let-list>

      <li *ngFor="let item of list; let i = index"
      [@itemAnimation]
      class="list-group-item">

        <div
          *ngIf="item"
          class="d-flex justify-content-between align-items-center"
          [ngClass]="{'pb-3' : item.children.length > 0 && !item.hide_child}">

            <div class="input-block">
                <span class="badge badge-primary btn-xsm">{{item.children.length}}</span>

                <input
                  class="ml-3"
                  type="text"
                  [(ngModel)]="item.title"
                  (ngModelChange)="onChange($event)"/>

                <span
                  *ngIf="item.children.length > 0"
                  class="badge badge-info"
                  (click)="hideSection(item)">
                  {{item.hide_child ? 'Show' : 'Hide'}}
                </span>

            </div>

            <div>
                <ui-add-button class="" (onClick)="onAdd.emit(item.children)"></ui-add-button>

                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="removeHandler(list,i)">Remove</button>
            </div>

        </div>

        <ul *ngIf="item?.children.length > 0 && !item?.hide_child"  [@itemAnimation]>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item?.children }"></ng-container>
        </ul>

      </li>

    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
</ul>