<div class="container">

  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
      <div class="d-flex align-items-center">
        <h6 class="mb-0 text-dark lh-100 pr-5">Category lists</h6>
          <input
          (keyup.enter)="category.value ? addCategory() : ''"
          [formControl]="category"
          type="text"
          placeholder="Category"
          class="form-control" />

          <ui-add-button [disabled]="!category.value" (onClick)="addCategory()"></ui-add-button>
      </div>
  </div>

  <!--Main component tree container-->
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h2 *ngIf="list?.length === 0">No lists added</h2>
      <ui-list
        *ngIf="list?.length > 0"
        (onRemove)="removeItem($event)"
        (onAdd)="addItem($event)"
        [list]="list"></ui-list>
  </div>

</div>